@import "../plugins/animate/animate.css";
@import "./fonts.css";

body
{
    background-color: #fff;
    margin: 0 auto;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 60%;
    font-family:OpenSans-Regular;
    font-size: 18px;
}

button,
a.button
{
    cursor: pointer;
    outline: none;
}

.visible
{
    display: flex !important;
    position: absolute;
    left: 0;
    top: 160px;
    padding: 30px;
    flex-directioN: column;
    width: 100%;
    background-color: #00a5ea;
    text-align: center;
    font-size: 22px;
    font-family: OpenSans-Bold;
    z-index:999;
}

.nav--item__active::after
{
    content: '';
    display: block;
    width: 100% !important;
    height: 5px;
    background: #89aeec;
}

.nav--item::after
{
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: #89aeec;
    transition: width .2s;
}

.nav--item:hover::after 
{
    width: 100%;
}

header
{
    background-color: transparent;
    transition: background-color 0.4s ease-in-out;
}

.header__sticky
{
    background-color:#001a3f;
    transition: background-color 0.4s ease-in-out;
}

.main
{
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}


.main--title__development
{
    color: #00a5ea;
}

.main--action-button
{
    display: inline-block;
    padding: 20px 45px;
    color: #fff;
    border-color: transparent;
    border-radius: 10px;
    font-family:OpenSans-Bold;
    font-size: 16px;
    box-shadow: none;
    transition: box-shadow 0.4s ease-in-out;
    background: -moz-linear-gradient(left, #0048d4 0%, #0058db 26%, #0070e0 52%, #0091e4 77%, #019fe4 100%);
    background: -webkit-linear-gradient(left, #0048d4 0%,#0058db 26%,#0070e0 52%,#0091e4 77%,#019fe4 100%);
    background: linear-gradient(to right, #0048d4 0%,#0058db 26%,#0070e0 52%,#0091e4 77%,#019fe4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0048d4', endColorstr='#019fe4',GradientType=1 ); /* IE6-9 */
}

.main--action-button:hover
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: box-shadow 0.1s ease-in-out;
}

.header-graphic
{
    height: 470px;
}

.services
{
    margin:100px auto;
    display: flex;
    flex-direction:column;
}

.services--title
{
    font-family: OpenSans-SemiBold;
    font-size: 50px;
    color: #002041;
    text-align: center;
    margin: 15px 0; 
}

.services-container
{
    margin: 45px 0;
    display: flex;
    align-content: center;
}

.service-box
{
    padding: 40px 65px;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    align-items: center;
    background: #2ecaf0; /* Old browsers */
    background: -moz-linear-gradient(-43deg, #2ecaf0 0%, #5b3bff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-43deg, #2ecaf0 0%,#5b3bff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(137deg, #2ecaf0 0%,#5b3bff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ecaf0', endColorstr='#5b3bff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.service-box--image
{
    width: fit-content;
}

.service-box--title
{
    font-family: OpenSans-Bold;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin: 25px 0 15px 0;
}

.service-box--description
{
    font-family: Myriad_Pro_Regular;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    margin: 0 0 40px 0;
}

.button--white-border
{
    padding: 10px 40px;
    font-size: 15px;
    font-family: OpenSans-Regular;
    color: #fff;
    border-color: transparent;
    background-color: transparent;
    border: 2px solid #acb9fd;
    border-radius: 10px; 
    width: max-content;
    margin-top: auto;
    box-shadow: none;
}

.button--white-border:hover
{
    cursor:pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #001a3f;
    transition: all 0.1s ease-in-out;
}

.button--blue-border
{
    padding: 10px 40px;
    font-size: 15px;
    font-family: OpenSans-Regular;
    color: #00a6eb;
    border-color: transparent;
    background-color: transparent;
    border: 2px solid #00a6eb;
    border-radius: 10px; 
    width: max-content;
    box-shadow: none;
    display: inline-block;
}

.button--blue-border:hover
{
    cursor:pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #001a3f;
    border: 2px solid #001a3f;
    color: white;
    transition: all 0.1s ease-in-out;
}

.divider
{
    width: 50px;
    margin: 0 auto;
    border-top: 5px solid #00a5ea;
}

.client-work--showcase
{
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}
.client-work--title
{
    font-family: OpenSans-Bold;
    font-size: 60px;
    color: #002041;
    text-align: center;
    margin: 15px 0; 
}

.client-work--description
{
    font-size:20px;
    line-height:25px;
    color: #002041;
    font-family: OpenSans-Regular;
    text-align:center;
    margin: 15px 0;
}

.client-work--project-name__title
{
    font-size: 50px;
    color: #002041;
    font-family: OpenSans-Bold;
    margin:0;
}

.client-work--project-name__description
{
    font-size: 40px;
    color: #00a6eb;
    font-family: OpenSans-Light;
    margin:0 0 55px 0;
}

.client-work-feature--icon
{
    width: fit-content;
    height: fit-content;
}


.work-description--title
{
    font-size: 20px;
    margin: 0;
    font-family: Myriad_Pro_Regular;
    font-weight: bold;
    color: #002041;
    margin: 10px 0;
}

.work-description--description
{
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    font-family: Myriad_Pro_Regular;
    color: #002041;
}


.swiper-container 
{
    width: 100%;
    height: 100%;
}

.swiper-slide 
{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slide-img
{
    width: inherit;
}

.bund-slide
{
    background-color: #e91b23;
}

.csl-slide
{
    background-color: #c7db84;
}

.gor-slide
{
    background-color: #e3973c;
}

.kompass-slide
{
    background-color: #318978;
}

.lingua-slide
{
    background-color: #0661b3;
}

.swiper-pagination
{
    position: initial !important;
}

.swiper-pagination-bullet
{
    opacity: 1 !important;
    background: #c5e4ff !important;
}

.swiper-pagination-bullet-active
{
    background: #002041 !important;
}

.swiper-pagination
{
    margin: 20px;
}

.swiper-pagination-bullets
{
    width: auto !important;
}


.facts--list
{
    margin: 50px 0;
    list-style: none;
}

.facts--list-item
{
    margin: 10px 0;
    font-family: OpenSans-Light;
    color:#002849;
    text-align:center;
}

.facts--list-item::before
{
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #00a6eb; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */ 
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.facts-services
{
    display:flex;
    justify-content: space-around;
    margin: 100px 0;
    list-style-type: none;
}

.facts-service
{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.facts-service--image
{
    width: fit-content;
    margin: 40px 0;
}

.facts-service--percentage
{
    font-size: 50px;
    margin: 0;
    font-family: OpenSans-Bold;
    color:#002849;
    text-align:center;
}

.facts-service--title
{
    font-size: 30px;
    margin: 0;
    font-family: OpenSans-Regular;
    color:#52585b;
    text-align:center;
    font-weight: 100;
}

.section-divider
{
    width:100%;
    height:4px;
    background-color: #00a6eb;
}


.news--title
{
    font-size: 45px;
    margin: 0 0 80px 0;
    font-family: OpenSans-Bold;
    color:#002041;
    text-align:center;  
}

.news--list
{
    display:flex;
    justify-content: space-between;
}

.post
{
    display: flex;
    flex-direction: column;
    padding: 35px 30px;
    background-color: white;
    box-shadow: -1px 1px 20px 5px rgba(0,0,0,0.03), 10px 10px 20px rgba(0,0,0,0.03);
}

.post--header
{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
}

.post--date
{
    display: flex;
    flex-direction: column;
}

.post--date-day
{
    color: #00a6eb;
    margin: 0;
    font-size: 48px;
    line-height: 48px;
    text-align:center;
    font-family: OpenSans-Bold;
}

.post--date-month
{
    color: #00a6eb;
    margin: 0;
    font-size: 24px;
    text-align:center;
    font-family: OpenSans-Regular;
}

.post--title
{
    font-size: 28px;
    margin: 0;
    font-family: OpenSans-Bold;
    color:#002041;
    font-weight: 100;
    text-align: left;
    padding-left: 30px;
}

.post--body
{
    font-size: 18px;
    line-height: 24px;
    margin: 40px 0;
    font-family: OpenSans-Regular;
    color:#737373;
    text-align:left;
}

.post--meta
{
    display:flex;
    justify-content: space-between;
    margin-top: auto;
}

.post--user,
.post--comments,
.post--likes
{
    font-size: 14px;
    font-family: OpenSans-Regular;
    color: #949494;
    margin:0;
    display: flex;
    align-items: center;
}

.post--meta-image
{
    height: fit-content;
    width: fit-content;
    margin-right: 5px;
}

footer
{
    background-color: #002041;
    color: #FFF;
    font-family: OpenSans-Regular;
}

.footer--logo-container
{
    text-align:center;
    padding: 50px 0;
}

.footer--divider__light
{
    width: 100%;
    height: 2px;
    background-color: #00a6eb;
}

.footer--divider__lighter
{
    width: 100%;
    height: 2px;
    background-color: #00a6eb;
    opacity: .29;
}

.footer--contact
{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.contact-group
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-group--icon
{
    height: fit-content;
    width: fit-content;
}

.contact-group--medium,
.contact-group--action
{
    color: #f5f5f5;
    margin: 3px 0;
}

.contact-group--text
{
    padding-left: 30px;
}

.contact-group--phone
{
    font-size: 18px;
}

.contact-group--action
{
    font-size: 14px;
    color: #00a6eb;
}

.footer--bottom
{
    padding-top: 30px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 1360px) 
{
    .header
    {
        width: 1360px;
        margin: 0 auto;
        padding: 50px 0;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-img-white
    {
        display: none;
    }

    .header--mobile-menu
    {
        display: none
    }

    .home-section
    {
        width: 1360px;
    }

    .services-container
    {
        justify-content: space-around;
    }

    .service-box
    {
        width: 380px;
    }

    .client-work--showcase
    {
        width: 1360px;
        flex-direction: row;
    }

    .client-work--triangle
    {
        position:absolute;
        margin-top:50px;
        height:900px;
    }

    .herbalife-image
    {
        height:600px;
    }

    .news--wrapper
    {
        width: 1360px;
        margin: 0 auto;  
    }

    .footer--contact
    {
        width: 1160px;
        padding: 60px 0;
    }
}

 @media only screen and (max-width: 1359px)
{
    .header
    {
        width: 100%;
        margin: 0 auto;
        padding: 50px 20px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #001a3f;
        box-sizing: border-box;
    }

    .logo-img-blue
    {
        display: none;
    }

    .home-section
    {
        width: auto;
        padding: 0 20px;
    }

    .main
    {
        flex-direction: column;
    }

    .main--heading
    {
        order: 2;
        align-self: center;
    }

    .main--graphic
    {
        order: 1;
        align-self: center;
    }

    .services-container
    {
        justify-content: center;
    }

    .service-box
    {
        width: 28%;
    }

    .client-work--showcase
    {
        width:auto;
        flex-direction: column;
    }
    .client-work--triangle
    {
        position:absolute;
        margin-top:50px;
        height:700px;
    }

    .news--wrapper
    {
        width: auto;
        margin: 0 auto;  
    }

    .footer--contact
    {
        width: auto;
        padding: 60px 20px;
    }

}

@media only screen and (max-width: 1150px)
{
    .news--list
    {
        flex-direction:column;
        align-items: center;
        padding: 0 20px;
    }
    .post
    {
        width: auto;
        margin: 20px 0;
    }

    .footer--bottom
    {
        width: auto;
        flex-direction: row;
    }

}

@media only screen and (min-width: 1151px)
{
    .news--list
    {
        flex-direction:row;
        align-items: center;
    }
    .post
    {
        width: 27%;
    }

    .footer--bottom
    {
        width: 1050px;
        flex-direction: row;
    }

}

@media only screen and (max-width: 860px)
{
    .header--mobile-menu
    {
        background-color: #00a5ea;
        height: 50px;
        width: 50px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        box-sizing: border-box;
    }

    .header--mobile-menu span
    {
        width: 100%;
        height: 3px;
        background-color: #fff;
        display: block;
    }

    .nav
    {
        display: none;
    }

    .nav--item
    {
        color: white;
        margin: 10px auto;
        text-decoration: none;
        width: fit-content;
    }

    .main
    {
        margin: 50px auto;
    }

    .header-graphic
    {
        display: none;
    }

    .main--title
    {
        font-size: 3rem;
        line-height: 4rem;
    }

    .services-container
    {
        flex-direction: column
    }

    .service-box
    {
        width: 100%;
        margin: 20px 0;
    }

    .client-work
    {
        margin:50px auto;
        display: flex;
        flex-direction:column;
    }

    .client-work--triangle
    {
        display: none;
    }

    .client-work--showcase
    {
        padding: 0 20px;
    }

    .herbalife-image
    {
        height: 295px;
    }

    .client-work-feature--icon
    {
        display: none;
    }

    .client-work-feature 
    {
        position: relative;
        left: 0px;
    }

    .client-work-feature--details
    {
        padding-left: 0;
    }

    .portfolio-slider
    {
        margin: 50px auto;
    }

    .facts
    {
        margin: 50px auto;
    }

    .facts--title__strong
    {
        font-size: 2rem;
        margin: 0;
        font-family: OpenSans-Bold;
        color:#00a6eb;
        text-align:center;
    }
    
    .facts--title__light
    {
        font-size: 1.8rem;
        margin: 0;
        font-family: OpenSans-Regular;
        color:#002849;
        text-align:center;
    }

    .facts--list-item
    {
        font-size: 1.2rem;
    }

    .facts-services
    {
        flex-direction: column;
    }

    .section-divider
    {
        margin: 50px 0 0 0;
    }

    .news
    {
        padding: 50px 0;
        background-color: #f9f9f9;
    }

    .news--wrapper
    {
        width: auto;
        margin: 0 auto;  
    }

    .footer--contact
    {
        flex-direction:column;
        align-items: center;;
    }

    .contact-group
    {
        margin:20px 0;
    }

    .footer--gototop
    {
        display: none;
    }
    
}

@media only screen and (min-width: 861px)
{
    .header--mobile-menu
    {
        display: none
    }

    .nav
    {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .nav--item
    {
        display: inline-block;
        margin: 0 27px;
        color: #fff;
        font-size: 16px;
        font-family: OpenSans-SemiBold;
        text-decoration: none;
        border-bottom: 5px solid transparent;
    }

    .main--title
    {
        font-size: 80px;
        font-family: OpenSans-Bold;
        color: #002041;
        line-height: 88px;
        margin: 30px 0;
    }

    .client-work
    {
        margin:100px auto;
        display: flex;
        flex-direction:column;
    }

    .client-work-feature
    {
        display: flex;
        margin-bottom: 40px;
        align-items: center;
        position: relative;
        left: -70px;
    }

    .client-work-feature--details
    {
        padding-left: 30px;
    }

    .portfolio-slider
    {
        margin: 100px auto;
    }

    .facts
    {
        margin: 100px auto;
    }

    .facts--title__strong
    {
        font-size: 60px;
        margin: 0;
        font-family: OpenSans-Bold;
        color:#00a6eb;
        text-align:center;
    }
    
    .facts--title__light
    {
        font-size: 50px;
        margin: 0;
        font-family: OpenSans-Regular;
        color:#002849;
        text-align:center;
    }

    .facts--list-item
    {
        font-size: 25px;
    }

    .section-divider
    {
        margin: 150px 0 0 0;
    }

    .news
    {
        padding: 100px 0;
        background-color: #f9f9f9;
    }

    .footer--contact
    {
        flex-direction:row;
    }
}


.footer--copyright
{
    font-size: 13px;
    margin:0;
}

.footer--social
{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
}

.social--wrapper
{
    width: 40px;
    height:40px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.social--wrapper
{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.social--wrapper:hover
{
    background-color: #00a6eb;
    border-color: #00a6eb;
    transition: all 0.1s ease-in-out;
}

.social--image
{
    width: fit-content;
    height: fit-content;
}